<!DOCTYPE html>
<html lang=en>
<head>
<meta charset=UTF-8>
<meta name=viewport content="width=device-width, initial-scale=1.0">
<title>Strange Ideograph</title>
<link rel=stylesheet href={{{style}}}>
<script src={{{gzipLibLoader}}}></script>
<script src={{{algo}}}></script>
<script src={{{dependencies}}}></script>
</head>
<body>
<div id=art></div>
<script id="p">let p={{{paramsJSON}}}</script>
<script>(async ()=>{await gzlib.load(ffu, p5u);si('final', fu, p)})()</script>
</body>
</html>